---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Hero from "../components/Hero";
import About from "../components/About";
import Skills from "../components/Skills";
import Contact from "../components/Contact"
import Footer from '../components/Footer'
const pageTitle = "Inicio";
---

<Layout pageTitle={pageTitle}>
  <Header client:only="react" />
  <main class="min-h-screen">
    <Hero id="hero"/>
    <About id="about" />
    <Skills id="skills" />
    <Contact id="contact"/>
    <Footer/>
  </main>
</Layout>
